/* RESETEO */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* GENERAL --------------------------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: "Optimus Princeps";
    src: url("../fonts/OptimusPrinceps.ttf");
}

html,
body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 160%;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

h1 {
    font-family: "Optimus Princeps";
    font-size: 3rem;
    color: #FFF;
    margin-bottom: 30px;
    line-height: 120%;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Optimus Princeps";
    font-size: 2rem;
    color: #FFF;
    line-height: 120%;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 30px;
}

textarea,
input,
select {
    font-family: 'Roboto', sans-serif;
}

a:hover,
a#seleccionado {
    text-shadow: -2px -2px 3px rgb(150, 90, 57), 2px -2px 3px rgb(150, 90, 57), -2px 2px 3px rgb(150, 90, 57), 2px 2px 3px rgb(150, 90, 57);
}

/* HEADER --------------------------------------------------------------------------------------------------------------------------------------*/

header#header {
    width: 100%;
    position: fixed;
    min-height: 10vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0px 20px;
}

header#header div#logo img {
    max-height: 10vh;
    vertical-align: middle;
}

header#header ul li {
    display: inline-block;
    margin: 10px 20px;
    font-family: "Optimus Princeps";
}

header#header div.toggle {
    color: #FFF;
    font-size: 1.5rem;
    display: none;
}

/* MAIN Y SECCION--------------------------------------------------------------------------------------------------------------------------------------*/

main#main {
    padding-top: 10vh;
    width: 100%;
    background: url("../img/fondo.gif") no-repeat center center/cover;
    background-attachment: fixed;
}

main#main>section {
    padding: 50px;
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
}

/* INTRO --------------------------------------------------------------------------------------------------------------------------------------*/

main#main section#intro {
    text-align: justify;
}

main#main section#intro div#contenedor {
    margin: auto;
    width: 80%;
}

main#main section#intro div#video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

main#main section#intro div#video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* JUEGOS --------------------------------------------------------------------------------------------------------------------------------------*/

main#main section#juegos p {
    margin: 0px;
}

main#main section#juegos>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main#main section#juegos article {
    width: 80%;
    margin: 50px 0px;
}

main#main section#juegos article:nth-child(1) {
    background: url("../img/gif1.gif") no-repeat center center/cover;
}

main#main section#juegos article:nth-child(2) {
    background: url("../img/gif2.gif") no-repeat center center/cover;
}

main#main section#juegos article:nth-child(3) {
    background: url("../img/gif3.gif") no-repeat center center/cover;
}

main#main section#juegos article:nth-child(4) {
    background: url("../img/gif4.gif") no-repeat center center/cover;
}

main#main section#juegos article div {
    text-align: justify;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        "i2 i1 i1"
        "i2 i3 i3"
        "i2 i3 i3";
    grid-gap: 20px;
}

.i1 {
    grid-area: i1;
}

.i2 {
    grid-area: i2;
}

.i3 {
    grid-area: i3;
}

main#main section#juegos article div blockquote {
    font-style: italic;
}

main#main section#juegos img {
    margin: auto;
}

main#main section#juegos img:hover {
    box-shadow: 0px 0px 20px rgb(150, 90, 57);
}

/* GALERIA --------------------------------------------------------------------------------------------------------------------------------------*/

main#main section#galeria div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    grid-auto-flow: dense;
}

main#main section#galeria a:hover {
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

main#main section#galeria a:nth-child(1) {
    background: url("../img/galeria1.png") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(2) {
    background: url("../img/galeria9.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(3) {
    background: url("../img/galeria3.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(4) {
    background: url("../img/galeria7.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(5) {
    background: url("../img/galeria5.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(6) {
    background: url("../img/galeria6.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(7) {
    background: url("../img/galeria13.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(8) {
    background: url("../img/galeria11.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(9) {
    background: url("../img/galeria8.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(10) {
    background: url("../img/galeria10.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(11) {
    background: url("../img/galeria4.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(12) {
    background: url("../img/galeria12.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(13) {
    background: url("../img/galeria2.jpg") no-repeat center center / cover;
}

main#main section#galeria a:nth-child(14) {
    background: url("../img/galeria14.jpg") no-repeat center center / cover;
}

main#main section#galeria a.ancho {
    grid-column: span 2;
}

main#main section#galeria a.alto {
    grid-row: span 2;
}

/* GIANT DAD --------------------------------------------------------------------------------------------------------------------------------------*/

main#main section#giant_dad img {
    width: 300px;
}

main#main section#giant_dad table {
    display: inline-block;
    font-weight: bold;
    margin: auto;
    border-collapse: collapse;
}

main#main section#giant_dad table td {
    border: solid 1px #FFF;
    padding: 10px;
}

main#main section#giant_dad table img {
    width: 100px;
    vertical-align: middle;
}

/* CONTACTO --------------------------------------------------------------------------------------------------------------------------------------*/

form {
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgb(150, 90, 57);
    background-color: #000;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        "item1 item1 item2 item2"
        "item3 item3 item3 item3"
        "item4 item4 item5 item5"
        "item6 item6 item6 item6"
        ". item7 item7 ."
        "item8 item8 item8 item8";
}

form .item1 {
    grid-area: item1;
}

form .item2 {
    grid-area: item2;
}

form .item3 {
    grid-area: item3;
}

form .item4 {
    grid-area: item4;
}

form .item5 {
    grid-area: item5;
}

form .item6 {
    grid-area: item6;
}

form .item7 {
    grid-area: item7;
}

form .item8 {
    grid-area: item8;
}

form div,
form fieldset {
    padding: 20px;
    margin: 10px 0px;
}

form fieldset legend {
    padding: 0px 20px;
}

form fieldset {
    display: flex;
    justify-content: space-evenly;
    border-color: rgb(150, 90, 57);
}

form fieldset div {
    padding: 0px;
}

form fieldset input,
form input[type="checkbox"] {
    width: inherit;
}

form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

form select {
    width: 100%;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    border-color: rgb(150, 90, 57);
}

form select {
    display: block;
    margin-top: 10px;
    outline: none;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(150, 90, 57);
    outline: none;
    color: #FFF;
}

form button {
    width: 100%;
    font-weight: bold;
    background-color: rgb(150, 90, 57);
    color: #FFF;
    border: solid 1px rgb(150, 90, 57);
    text-transform: uppercase;
    padding: 20px;
    border-radius: 15px;
}

form button:hover {
    background-color: #000;
    border: 1px solid rgb(150, 90, 57);
    cursor: pointer;
}

/* FOOTER --------------------------------------------------------------------------------------------------------------------------------------*/

footer#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer#footer div.parte1f {
    width: 100%;
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0px;
}

footer#footer div.parte1f div {
    width: 25%;
    padding: 30px;
}

footer#footer div {
    font-size: 0.8rem;
    text-align: center;
}

footer#footer div.parte1f div:nth-child(n+2) {
    border-left: 1px solid #fff;
}

footer#footer h4 {
    font-size: 1rem;
    margin-bottom: 20px;
}

footer li {
    padding: 10px;
}

footer#footer i {
    margin: 10px;
}

#copy {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #FFF;
    background-color: rgb(150, 90, 57);
}

/* MEDIA QUERIES --------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1080px) {
    header#header {
        flex-direction: column;
        padding: 0px;
    }

    header#header #logo {
        align-self: flex-start;
    }

    header#header ul li {
        border-top: 1px solid #FFF;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0px;
    }

    header#header ul li:last-child {
        border-bottom: 1px solid #FFF;
    }

    header#header ul li:hover {
        background-color: rgb(150, 90, 57);
    }

    header#header div.toggle {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 3.3vh;
        right: 20px;
    }

    header#header div.toggle i.fa-times {
        display: none;
    }

    header#header div.toggle i.fa-bars.activo {
        display: none;
    }

    header#header div.toggle i.fa-times.activo {
        display: block;
    }

    header#header nav a {
        display: block;
        padding: 20px;
    }

    header#header nav {
        width: 100%;
        display: none;
    }

    header#header nav.activo {
        display: block;
    }

    main#main section#intro div#contenedor {
        width: 100%;
    }

    form {
        width: 100%;
        box-shadow: 0px 0px 20px 0px rgb(150, 90, 57);
        background-color: #000;
        border-radius: 15px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8";
    }

    main#main section#juegos {
        width: 100%;
    }

}

@media (max-width: 768px) {

    footer#footer div.parte1f {
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1rem;
        padding: 0px;
    }

    footer#footer div.parte1f div {
        text-align: center;
        width: 80%;
        margin: 0px auto;
        padding: 30px;
    }

    footer#footer div.parte1f div:nth-child(n+2) {
        border-left: 0px;
        border-top: 1px solid #fff;
    }

    html,
    body {
        font-size: 16px;
    }

    main#main>section {
        width: 100%;
    }

    main#main section#intro div#texto img {
        padding: 0px;
        float: none;
        display: block;
        margin: 0px auto 50px;
    }

    main#main section#juegos img {
        width: 60%;
    }

    main#main section#giant_dad table {
        width: 100%;
        overflow-y: hidden;
    }

    main#main section#galeria a {
        grid-column: span 3 !important;
        grid-row: span 2 !important;
    }

    main#main section#juegos article div {
        grid-template-columns: 1fr;
        grid-template-areas:
            "i1"
            "i2"
            "i3";
    }

}
